:root{
    --primary-color:hsl(259, 100%, 65%);
    --error-color: hsl(0, 100%, 67%);
    box-sizing: border-box;
}

@font-face {
    font-family: Poppins;
    src: url('./assets/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-b-i;
    src: url('./assets/fonts/Poppins-ExtraBoldItalic.ttf');
}
body{
    background-color: gray;
    font-family: Poppins;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.label{
    font-size: 10px;
    font-weight: 900;
    color: gray;
    letter-spacing: 2px;
}

.main-container{
    box-shadow: 0px 0px 10px hsl(0, 0%, 86%);
    width: 25rem;
    background-color: #fff;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    border-bottom-right-radius: 30%;
}
.inputs-container{
    /* border: 1px solid beige; */
    margin:0 auto;
    display: flex;
    gap: 10px;
    height: 3rem;
}
.year-input-box{
    text-align: center;
    font-family: inherit;
    font-size: large;
    font-weight: 900;
    height: 50%;
    width: 6rem;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 86%);
}
.day-input-box{
    text-align: center;
    font-family: inherit;
    font-size: large;
    font-weight: 900;
    height: 50%;
    width: 6rem;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 86%);
}
.month-input-box{
    text-align: center;
    font-family: inherit;
    font-size: large;
    font-weight: 900;
    height: 50%;
    width: 6rem;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 86%);
}
.input-error{
    border: 1px solid var(--error-color);
}

.text-error{
    color: var(--error-color);
}
input:focus{
    outline:1px solid var(--primary-color);
    border: 1px solid (--primary-color);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}


.input-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.error-msg{
    visibility: hidden;
    color: var(--error-color);
    margin-top: 0;
    font-size: 10px;
    font-style: italic;
}

/* middle  */


.display{
    line-height: 4rem;
    transition: all 1ms;
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 0;
    padding: 0;
}
.output-text{
    margin: 0;
    font-family: Poppins-b-i;
    font-size: 60px;
}

.output{
    font-family: Poppins-b-i;
    font-size: 60px;
    color: var(--primary-color);
}

.fancy-style{
    width: 100%;
    cursor: pointer;
    margin-top: 0rem;
    display: flex;
    position: relative;
}
.line{
    border-top: 1px solid hsla(0, 1%, 44%, 0.205);
    width: 90%;
    height: 20px;
    margin-top: 1.6rem;
}
.icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--primary-color);
    position: relative;
}
.icon:hover{
    background-color: black;
}
.icon svg{
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
}


@media (max-width:375px) {
    .main-container{
        width: 90%;
        height: 400px;
    }
    .inputs-container{
        /* border: 1px solid beige; */
        box-sizing: border-box;
        margin-bottom: 1rem;
        height:6rem;
    }
    .output{
        font-size: 49px;
    }

    .icon{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
    }
    .fancy-style{
        margin-top: 0;
    }
}